 
<div class="screen">

    <div>
        <mat-toolbar class="tool">
            <div class="titleText">
                <img src="../../../../assets/education.svg" class="img-Icon" />
                <a id="text">BookStore</a>
            </div>
            <mat-card class="search" img src="../../../../assets/search_black_24dp.svg">

                <input class="searchInput" type="text" name="search" placeholder="Search.." (keyup)="Search($event)" />
            </mat-card>

            <button class="Profile" mat-button [matMenuTriggerFor]="menu">Profile <mat-icon class="searchIcon">
                    perm_identity
                </mat-icon>

                <mat-menu class="user" #menu="matMenu">
                    <div>
                        <h3 class="welcome">Hello!</h3>
                    </div>
                    <button mat-menu-item routerLink="/dashboard/order">My Orders</button>
                    <button class="wishlistbutton" mat-menu-item routerLink="/dashboard/wishlist">
                        My Wishlist
                    </button>
                    <div mat-menu-item>
                        <button class="logoutbutton">Logout</button>
                    </div>
                </mat-menu>
            </button>


            <div>
                <button class="cart" mat-button routerLink="/dashboard/cart">Cart<mat-icon>shopping_cart</mat-icon>
                    </button>
            </div>

        </mat-toolbar>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <h4>Copyright © 2022, Bookstore Private Limited. All Rights Reserved</h4>
    </div>
</div>