.screen {
    height: 100%;
    width: 100%;
}

.tool {
    background-color: brown;
}

#text {
    color: white;
}

.img-Icon{
    padding-left: 64%;
    padding-right: 10%;
    padding-top: 3%;
}

.search {
    margin-left: 16%;
    width: 29%;
    height: 51%;
    padding: 0px;
}
.searchInput {
    height: 66%;
    width: 86%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    color: dimgrey;
}

// .subtitleclass{
//     border: none;
//     margin-left: 20%;
//     background: url("../../../../assets/search_black_24dp.svg") no-repeat;
//     padding:15px;
//     background-size: 20px 20px;
//     background-color:#f1f3f4;
//     width:40%;
//     background-position: left center;
//     border-radius: 4px;
//     padding-left: 30px;
    
//   }
.Profile{
    display: flex;
    flex-direction: column-reverse;
    background: brown;
    border-color: brown;
    color: white;
    border: transparent;
    padding-left: 18%;
    cursor: pointer;
}
.cart{
    display: flex;
    flex-direction: column-reverse;
    background: brown;
    border-color: brown;
    color: white;
    border: transparent;
    padding-left: 214%;
    cursor: pointer;
}
.wishlistIcon {
    color: brown;
}

.wishlistbutton {
    margin-top: -20px;
}
.welcome {
    margin-left: 18px;
}
.footer {
    background-color: #2E1D1E;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-top: 39%;
    
}
.logoutbutton{
    border: 1px solid #2E1D1E;
}