<div class="Block ">
    <mat-card class="mat1">

        <div>
            <img class="img" src="../../../../assets/onlineshopping.png">
        </div>

        <div class="text">
            ONLINE BOOK SHOPPING
        </div>
    </mat-card>

    <mat-card class="mat2">
        <div fxLayout="row" >
            <button type="button" class="login" routerLink="/login">LOGIN</button>
            <button type="button" class="signup" routerLink="/register">SIGNUP</button>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
            <div class="form-fields">
                <div class="fullname">
                    <div>
                        <mat-label>Full Name</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input type="text"  class="input-field" formControlName="fullName" matInput placeholder="">
                            <mat-error>Enter full name</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="email">
                    <div>
                        <mat-label>Email Id</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input type="text" class="input-field" formControlName="email" matInput placeholder="">
                            <mat-error>Enter an email address</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="password">
                    <div>
                        <mat-label>Password</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input type="password" class="input-field" formControlName="password" matInput placeholder="">
                            <mat-error>Enter a password</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="number">
                    <div>
                        <mat-label>Mobile Number</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">

                            <input type="number" class="input-field" formControlName="mobileNumber" matInput placeholder="">
                            <mat-error>Enter mobile number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-button class="signupbutton">Signup</button>
            </div>
       
        </form>
    </mat-card>
</div>