<div>
    <div class="bookCount">
        <span class="books">Book <p id="book-count">({{bookList}} items)</p></span>
        <span class="count"></span>
    </div>
    <div class="sort">
        <mat-form-field appearance="outline">
            <mat-label>Sort by relevance</mat-label>
            <mat-select class="matselect">
                <mat-option (click)="lowestPrice()" value="one">Price:Low to High</mat-option>
                <mat-option (click)=" highestPrice()" value="two">Price:High to Low</mat-option>
                <mat-option (click)="newestarrivals()" value="third">Newest Arrivals</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="bookcard">
        <div class="entirebook" *ngFor="let Book of bookList">
            <div class="bookimg"  (click)="quickView(Book.bookId)" routerLink="/dashboard/quickview">
                <img class="img1" [src]="Book.bookImage">
            </div>
            <h2 class="title">{{Book.bookName}}</h2>
            <p id="para">by {{Book.authorName}}</p>
            <div class="rating" fxLayoutAlign="space-evenly center">
                ({{Book.rating}})<img class="Star" src="../../../assets/education.svg" alt="">
            </div>
            <p id="count">({{Book.ratingCount}})</p>
            <div class="price-container">
                <div class="dicounted-price">
                    Rs.{{Book.discountPrice}} 
                </div>
                <div class="actual-price"> 
                    Rs.{{Book.actualPrice}}
                </div>   
            </div>
            
        </div>
    </div>
</div>
