.bookCount {
    margin-left: 134px;
    margin-top: 20px;
}

#book-count {
    margin-top: -22px;
    margin-left: 3%;
    font-size: medium;
    color: gainsboro;
}

.books {
    font-size: 25px;
    margin-left: -41px;
}

.sort {
    margin-top: -67px;
    margin-left: 63%;
    border-radius: none;
    outline: none;
}

.count {
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.6;
}

.matselect {
    color: brown;
    height: 10px;
    outline: none;
}

.bookcard {

    display: flex;
    flex-wrap: wrap;
    margin-left: 6%
}

.entirebook {
    border: 1px solid gainsboro;
    width: 250px;
    height: 360px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bookimg {
    width: 251px;
    height: 210px;
    background-color: gainsboro;
    margin-top: -1px;
}

.img1 {
    width: 110px;
    height: 140px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

.title {
    font-size: medium;
    margin-left: 13px;
}

#para {
    margin-top: -24px;
    font-size: small;
    color: gray;
    margin-left: 14px;
}

.rating {
    font-size: 12px;
    margin-top: -6px;
    margin-left: 15px;
    background: green;
    color: white;
    height: 15px;
    width: 29px;
    padding: 2px;
}

.Star {
    height: 11px;
    width: 11px;
    font-size: 10px;
    margin-top: -1px;
}

#del {
    color: gray;
}

#count {
    margin-top: -8%;
    margin-left: 20%;
    font-size: small;
    color: gainsboro;
}

.dicounted-price {
    margin-top: 5px;
    margin-left: 13px;
    font-size: revert;
}

.actual-price {
    margin-left: 13px;
    text-decoration: line-through;
    color: gray;
}

.add-btn {
    background-color: brown;
    color: white;
    border: aliceblue;
    padding: 5px;
    margin-left: 5%;
    width: 40%;
    cursor: pointer;
}
.btn2 {
    background-color: black;
    color: white;
    border: aliceblue;
    padding: 1px;
    margin-left: 6%;
    width: 45%;
    cursor: pointer;
}


#fav-icons{
    color: white;
    font-size: 122%;
}

.booktitle {
    width: 55%;

}