<div class="container">
    <mat-toolbar class="tool">
        <div style="background-color: brown;" fxLayout="row" fxLayoutGap="2%">
            <img src="../../assets/education.svg" class="img-Icon" />
            <a id="text">BookStore</a>
        </div>

    </mat-toolbar>
    <h4 id="title">Reset your Password?</h4>
</div>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
<div class="forgotpass" fxLayoutAlign="center center">
    
    <div class="forgot">
        <p id="content">Enter a Strong Password Below </p>
        <div>
            <mat-label>Password</mat-label>
        </div>  
        <div>
            <mat-form-field appearance="outline"  style="width: 96%;">
                <input type="text" formControlName="password" class="input-field" matInput placeholder="">
                <mat-error>Enter your password</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Confirm Password</mat-label>
        </div>
        <div>
            <mat-form-field appearance="outline"  style="width: 96%;">
                <input type="text" formControlName="confirmPassword" class="input-field" matInput placeholder="">
                <mat-error>Enter your confirm password </mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="primary">Reset Password</button>
        <div>
            <button mat-button class="button2" routerLink="/register">Create an Account</button>
        </div>
    </div>
    
</div>
</form>
