.container {
    height: 85%;
    width: 100%;
}

.tool {
    background-color: brown;
}

#text {
    color: white;
}

.img-Icon {
    padding-left: 82%;
    padding-right: 11%;
    padding-top: 3%;
}
#title{
    margin-top: 6%;
    font-size: 3vh;
    font-weight: bold;
    margin-left: 40%;
}
.input-field{
    width: 95%;
    padding: 0px 0;
    // margin: 12px 0;
 }
.forgotpass {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #DADCE0; */
    border-radius: 7px;
    width: 241px;
    padding: 0px;
    margin: auto;
    margin-top: -7%;
    height: 29%;
    background-color: white;
    border: aliceblue;
}

.forgot {
    width: 111%;
    height: 317px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);
    padding: 45px;
    margin-top: -104%;
    margin-left: -40%;
}
 
#content{
 text-align: start;
 color: gray;
}
.primary {
    width: 95%;
    padding: 5%;
    background-color: brown;
    color: white;
    border: aliceblue;
}

.button2 {
    margin: 9%;
    padding: 8%;
    width: 134%;
    margin-left: -17%;
    border: aliceblue;
    font-weight: bold;
    font-size: 150%;
}