<div class="container">
    <mat-toolbar class="tool">
        <div style="background-color: brown;" fxLayout="row" fxLayoutGap="2%">
            <img src="../../../../assets/education.svg" class="img-Icon" />
            <a id="text">BookStore</a>
        </div>

    </mat-toolbar>
    <h4 id="title">Forgot Your Password?</h4>
</div>
<form >
<div class="forgotpass" fxLayoutAlign="center center">
    
    <div class="forgot">
        <p id="content">Enter your email address and we will send you a link to reset your password</p>
        <div>
            <mat-label>Email Id</mat-label>
        </div>
        <div>
            <mat-form-field appearance="outline"  style="width: 96%;">
                <input type="text" formControlName="emailId" class="input-field" matInput placeholder="">
                <mat-error>Enter an email address</mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="primary"  routerLink="/resetpassword">Reset Password</button>
        <div>
            <button mat-button class="button2"  routerLink="/register">Create an Account</button>
        </div>
    </div>
    
</div>
</form>
